<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head %>
  </head>
  <body>
    <% include menu %>
    <div class="container-fluid bg-3 text-center">
      <h3><%= page %></h3><br>
      <div class="row">
        <div class="col-sm-4">
          <p>This is the main page using the EJS template engine This is the main page using the EJS template engine This is the main page using the EJS template engine This is the main page using the EJS template engine</p>
        </div>
        <div class="col-sm-4">
          <p>This is the main page using the EJS template engine This is the main page using the EJS template engine This is the main page using the EJS template engine This is the main page using the EJS template engine</p>
        </div>
        <div class="col-sm-4">
          <p>This is the main page using the EJS template engine This is the main page using the EJS template engine This is the main page using the EJS template engine This is the main page using the EJS template engine</p>
        </div>
      </div> 
    </div>
  </body>
  <%include script %>
</html>
